# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# VS Studio
.vs/
.vscode/

# Data folders and large files
/Data/
*.csv
*.zip
*.tar
*.gz
*.h5
